<div class="py-1 text-indigo-900 bg-indigo-300 border-t-2 border-indigo-900 dark:border-neutral-50 sm:py-2 dark:text-neutral-50 dark:bg-indigo-900 h-fit">
    <ul class="flex mx-auto w-fit">
        <li><a class="social__button" href="#"><fa-icon class="icon--absolute--centered" [icon]="github"></fa-icon></a></li>
        <li><a class="social__button" href="#"><fa-icon class="icon--absolute--centered" [icon]="twitter"></fa-icon></a></li>
        <li><a class="social__button" href="#"><fa-icon class="icon--absolute--centered" [icon]="linkedin"></fa-icon></a></li>
    </ul>
    <p class="text-sm text-center sm:text-xl">Copyright &copy; {{year}} <a href="https://twitter.com/Gabit90" target="_blank" rel="noopener noreferrer">Gabit</a>. All rights reserved.</p>
</div>