<form action="#" method="post" class="bg-red-600">
    <h2 class="text-xl font-bold text-center capitalize">new task form</h2>
    <fieldset>
        <input type="text" name="new-task" id="task">
        <label for="task">task</label>
    </fieldset>
    <fieldset>
        <legend>select priority of task:</legend>
        <select name="level" id="priority">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
    </fieldset>
    <input type="submit" value="add">
</form>